@media only screen and (max-width: 375px) {
    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        text-rendering: optimizeLegibility;
    }
    .parent-class {
        background-image: url(bg-intro-mobile.png);
        background-color: hsl(0, 100%, 74%);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        display: flex;
        flex-direction: column;
        padding: 5rem;
    }
    h1 {
        font-family: poppins;
        text-align: center;
        color: hsl(240, 7%, 97%);
        font-size: 2rem;
        font-weight: 600;
    }
    .first-class p {
        margin-top: 2rem;
        text-align: center;
        font-family: poppins;
        color: hsl(240, 7%, 97%);
        width: 19.8999em;
    }
    .sub-class {
        background-color: hsl(248, 32%, 49%);
        margin-top: 3rem;
        padding: 1.5em 4em 1.5em 4em;
        border-radius: 10px;
        border: 1px solid hsl(248, 32%, 49%);
        box-shadow: 0px 6px 3px hsl(0, 4%, 46%);
    }
    .sub-class p {
        font-family: poppins;
        font-size: 12px;
        text-align: center;
        color: hsl(0, 0%, 971%);
        font-weight: 400;
    }
    .sub-class p span {
        color: hsl(240, 7%, 97%);
        font-weight: 700;
    }
    .sub-class2 {
        background-color: white;
        
    }

}